@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: #041222;
  color: #fff;
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
  @apply font-black text-[2.8rem] md:text-[5rem] uppercase mb-[1.85rem];
}


.about-description-container {
  p {
    @apply text-[1.6rem] md:text-[2rem] text-[#CDCDCD];
  }

  p:not(:last-child) {
    @apply mb-[1.85rem]
  }
}

.button-gradient {
  background: linear-gradient(
      90deg,
      rgba(255, 0, 140, 1),
      rgba(0, 134, 255, 1) 51%,
      rgba(255, 0, 140, 1)
    )
    var(--x, 0) / 200%;

  transition: 0.5s;

  &:hover {
    --x: 100%;
  }
}

.program:last-child > .pr-row > .pr-bullet {
  @apply before:content-[unset];
}
