@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  smooth-scroll-behavior: smooth;
  scroll-behavior: smooth !important;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: #041222;
  color: #fff;
  width: 100%;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
  @apply font-black text-[2.8rem] md:text-[5rem] uppercase mb-[1.85rem];
}

.about-description-container {
  p {
    @apply text-[1.6rem] md:text-[2rem] text-[#CDCDCD];
  }

  p:not(:last-child) {
    @apply mb-[1.85rem];
  }
}

.btn {
  @apply relative cursor-pointer flex justify-center items-center min-w-[5rem] px-[5.7rem] py-[1.5rem] rounded-full font-[inherit] disabled:opacity-50 disabled:cursor-not-allowed;

  background: linear-gradient(
      90deg,
      rgba(255, 0, 140, 1),
      rgba(0, 134, 255, 1) 51%,
      rgba(255, 0, 140, 1)
    )
    var(--x, 0) / 200%;

  transition: 0.5s;

  &:hover {
    --x: 100%;
  }
}

.btn-outline {
  @apply relative cursor-pointer flex justify-center items-center min-w-[5rem] px-[5.7rem] py-[1.5rem] rounded-full font-[inherit] border-[1px] border-solid border-white text-white;
}

.button-gradient-no-hover {
  background: linear-gradient(
      90deg,
      rgba(255, 0, 140, 1),
      rgba(0, 134, 255, 1) 51%,
      rgba(255, 0, 140, 1)
    )
    var(--x, 0) / 200%;

  transition: 0.5s;
}

.button-gradient {
  background: linear-gradient(
      90deg,
      rgba(255, 0, 140, 1),
      rgba(0, 134, 255, 1) 51%,
      rgba(255, 0, 140, 1)
    )
    var(--x, 0) / 200%;

  transition: 0.5s;

  &:hover {
    --x: 100%;
  }
}

.program:last-child > .pr-row > .pr-bullet {
  @apply before:content-[unset];
}
